.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github 
            |Continue with Github
    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook 
            |Continue with Facebook 

// |를 빼면 텍스트가 아니라 태그로 취급
// |는 안에 들어간 것들을 텍스트로 바꿔줌
// BEM = Block, Element , Modifier  =>  Block__Element--Modifer